:root {
	--sliderSize: 18px;
}

.slidercontainer {
	width: 100%;
	display: flex !important;
	justify-content: left;
	gap: 16px;
	align-items: center;
	flex-direction: row !important;
}

.slider {
	-webkit-appearance: none;
	appearance: none;
	width: 75%;
	height: var(--sliderSize);
	background: #d3d3d3;
	outline: none;
	opacity: 0.7;
	-webkit-transition: 0.2s;
	transition: opacity 0.2s;
	margin: 0;
}

.slider:hover {
	opacity: 1;
}

.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: var(--sliderSize);
	height: var(--sliderSize);
	background: #04aa6d;
	cursor: pointer;
}

.slider::-moz-range-thumb {
	width: var(--sliderSize);
	height: var(--sliderSize);
	background: #04aa6d;
	cursor: pointer;
}
