body {
	margin: 0;
	height: 100vh;
	width: 100vw;
	box-sizing: border-box;
	overflow: hidden;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#fps {
	position: fixed;
	top: 4px;
	left: 4px;
}

footer {
	position: absolute;
	bottom: 0;
	right: 0;
	height: 32px;
	width: 128px;
	color: white;
	text-align: center;
	font-size: 12px;
	padding: 4px;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.lil-gui.autoPlace {
	right: 0 !important;
}
